name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-2019, ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout project
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: "3.x"
      - name: Install build tools
        run: pip install meson ninja
      - name: Cache Qt
        id: cache-qt
        uses: actions/cache@v1
        with:
          path: ../Qt
          key: ${{ runner.os }}-QtCache
      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: "5.15.2"
          cached: ${{ steps.cache-qt.outputs.cache-hit }}
      - name: Prepare MSVC
        uses: bus1/cabuild/action/msdevshell@v1
        if: runner.os == 'Windows'
      #- name: Prefer upstream Clang over MacOS Clang
      #  run: |
      #    echo "/usr/local/opt/llvm/bin" >> $GITHUB_PATH
      #    echo "CXX=/usr/local/opt/llvm//bin/clang++" >> $GITHUB_ENV
      #    echo "CC=/usr/local/opt/llvm/bin/clang" >> $GITHUB_ENV
      #  if: runner.os == 'macOS'
      - name: Use GCC 11 on MacOS
        run: |
          echo "CXX=g++-11" >> $GITHUB_ENV
          echo "CC=gcc-11" >> $GITHUB_ENV
        if: runner.os == 'macOS'
      - name: Use GCC 10 on Ubuntu 20.04
        run: |
          echo "CXX=g++-10" >> $GITHUB_ENV
          echo "CC=gcc-10" >> $GITHUB_ENV
        if: runner.os == 'Linux'
      - name: Prepare MSVC
        uses: bus1/cabuild/action/msdevshell@v1
        if: runner.os == 'Windows'

      - name: Setup build directory
        run: meson setup builddir/
      - name: Build
        run: meson compile -C builddir/
